# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\13121\Desktop\刘泽伟_毕设\2.实验材料\运行时验证实验\TestProject\PingEcho_Projects\zhangleiking-zlg-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
